<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

      <title>IoT</title>
      <script src="socket.io/socket.io.js"></script>
      <script src="jquery.js"></script>
      <script src="javascrip/javascrip.js"></script>
      <link type="text/css" rel="stylesheet" href="css/history.css" />
      <link rel="stylesheet" href="css/background.css" />
      <meta name="viewport" content="width=devicewidth, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
          <title>history</title>
        </head>
  <body>
    <header>
      <ul>
        <li>
          <a href="/">HomePage</a>
        </li>
        <li>
          <a href="./Controll">Controll</a>
        </li>
        <li>
          <a href="./History">History</a>
        </li>
      </ul>
    </header>
  </body>
</html>