<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

      <title>IoT</title>
      <script src="socket.io/socket.io.js"></script>
      <script src="jquery.js"></script>
      <script src="javascrip/Controll.js"></script>
      <link rel="stylesheet" href="css/Hompage.css" />
      <link rel="stylesheet" href="css/background.css" />
      <meta name="viewport" content="width=devicewidth, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
          <title>control</title>
        </head>
  <body>
    <header>
      <ul>
        <li>
          <a href="/">HomePage</a>
        </li>
        <li>
          <a href="Controll">Controll</a>
        </li>
        <li>
          <a href="./History">History</a>
        </li>
      </ul>
    </header>
    <section class="b1">
      <div class="int1">
        <div class="content">
          <h1>
            HHD
          </h1>
        </div>
      </div>
    </section>
    <p>
      Internet Vạn Vật, hay cụ thể hơn là Mạng lưới vạn vật kết nối Internet hoặc là Mạng lưới thiết bị kết nối Internet (tiếng Anh: Internet of Things, viết tắt IoT) là một liên mạng, trong đó các thiết bị, phương tiện vận tải (được gọi là "thiết bị kết nối" và "thiết bị thông minh"), phòng ốc và các trang thiết bị khác được nhúng với các bộ phận điện tử, phần mềm, cảm biến, cơ cấu chấp hành cùng với khả năng kết nối mạng máy tính giúp cho các thiết bị này có thể thu thập và truyền tải dữ liệu.[1][2][3] Năm 2013, tổ chức Global Standards Initiative on Internet of Things (IoT-GSI) đinh nghĩa IoT là "hạ tầng cơ sở toàn cầu phục vụ cho xã hội thông tin, hỗ trợ các dịch vụ (điện toán) chuyên sâu thông qua các vật thể (cả thực lẫn ảo) được kết nối với nhau nhờ vào công nghệ thông tin và truyền thông hiện hữu được tích hợp,"[3] và với mục đích ấy một "vật" là "một thứ trong thế giới thực (vật thực) hoặc thế giới thông tin (vật ảo), mà vật đó có thể được nhận dạng và được tích hợp vào một mạng lưới truyền thông".[4] Hệ thống IoT cho phép vật được cảm nhận hoặc được điều khiển từ xa thông qua hạ tầng mạng hiện hữu,[5] tạo cơ hội cho thế giới thực được tích hợp trực tiếp hơn vào hệ thống điện toán, hệ quả là hiệu năng, độ tin cậy và lợi ích kinh tế được tăng cường bên cạnh việc giảm thiểu sự can dự của con người.[6][7][8][9][10][11] Khi IoT được gia tố cảm biến và cơ cấu chấp hành, công nghệ này trở thành một dạng thức của hệ thống ảo-thực với tính tổng quát cao hơn, bao gồm luôn cả những công nghệ như điện lưới thông minh, nhà máy điện ảo, nhà thông minh, vận tải thông minh và thành phố thông minh. Mỗi vật được nhận dạng riêng biệt trong hệ thống điện toán nhúng và có khả năng phối hợp với nhau trong cùng hạ tầng Internet hiện hữu. Các chuyên gia dự báo rằng Internet Vạn Vật sẽ ôm trọn chừng 30 tỉ vật trước năm 2020.[12]

      Về cơ bản, Internet Vạn Vật cung cấp kết nối chuyên sâu cho các thiết bị, hệ thống và dịch vụ, kết nối này mang hiệu quả vượt trội so với kiểu truyền tải máy-máy (M2M), đồng thời hỗ trợ da dạng giao thức, miền (domain), và ứng dụng.[13] Kết nối các thiết bị nhúng này (luôn cả các vật dụng thông minh), được kỳ vọng sẽ mở ra kỷ nguyên tự động hóa trong hầu hết các ngành, từ những ứng dụng chuyên sâu như điện lưới thông minh,[14] mở rộng tới những lĩnh vực khác như thành phố thông minh.[15][16]

      IoT là một kịch bản của thế giới, khi mà mỗi đồ vật, con người được cung cấp một định danh của riêng mình, và tất cả có khả năng truyền tải, trao đổi thông tin, dữ liệu qua một mạng duy nhất mà không cần đến sự tương tác trực tiếp giữa người với người, hay người với máy tính. IoT đã phát triển từ sự hội tụ của công nghệ không dây, công nghệ vi cơ điện tử và Internet. Nói đơn giảnlà một tập hợp các thiết bị có khả năng kết nối với nhau, với Internet và với thế giới bên ngoài để thực hiện một công việc nào đó.[17]

      Một vật trong IoT có thể là một người với một trái tim cấy ghép; một động vật ở trang trại với bộ chip sinh học; một chiếc xe với bộ cảm ứng tích hợp cảnh báo tài xế khi bánh xe xẹp hoặc bất kỳ vật thể tự nhiên hay nhân tạo nào mà có thể gán được một địa chỉ IP và cung cấp khả năng truyền dữ liệu thông qua mạng lưới. Cho đến nay, IoT là những liên kết máy-đến-máy (M2M) trong ngành sản xuất, công nghiệp năng lượng, kỹ nghệ xăng dầu.  Khả năng sản phẩm được tích hợp máy-đến-máy thường được xem như là thông minh[18] Với sự trợ giúp của công nghệ hiện hữu, các thiết bị này thu thập dữ liệu hữu ích rồi sau đó tự động truyền chúng qua các thiết bị khác.[19] Các ví dụ hiện thời trên thị trường bao gồm nhà thông minh được trang bị những tính năng như kiểm soát và tự động bật tắt đèn, lò sưởi (giống như bộ ổn nhiệt thông minh), hệ thống thông gió, hệ thống điều hòa không khí, và thiết bị gia dụng như máy giặt/sấy quần áo, máy hút chân không, máy lọc không khí, lò nướng, hoặc tủ lạnh/tủ đông có sử dụng Wi-Fi để theo dõi từ xa.[cần dẫn nguồn]

      Khi tự động hóa có kết nối internet được triển khai đại trà ra nhiều lãnh vực, IoT được dự báo sẽ tạo ra lượng dữ liệu lớn từ đa dạng nguồn, kéo theo sự cần thiết cho việc kết tập dữ liệu nhanh, gia tăng nhu cầu đánh chỉ mục, lưu trữ, và xử lý các dữ liệu này hiệu quả hơn. Internet Vạn Vật hiện nay là một trong các nền tảng của Thành phố Thông minh, và các Hệ thống Quản lý Năng lượng Thông minh.[20][21]
    </p>

  </body>
</html>